footer{
    background-color: red;
    text-align: center;
    margin-top: 55%;
    font-size: 25px;
    color: white;
    padding: 3%;
    margin-right: 0px;
}

@media screen and (min-width: 600px){
    footer{
        margin-top: 13%;
        padding: 4%;
    }
}